body {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

.card {
  width: 400px;
  margin: 50px auto;
  border: 1px solid lightgray;
  border-radius: 16px;
  position: relative;
}

.card-section {
  background-color: white;
  margin: 0;
  padding-top: 50px;
}

.title {
  margin-bottom: 20px;
  color: gray;
  font-size: 20px;
}

.profile {
  position: absolute;
  height: 120px;
  top: 90px;
  left: 140px;
  border-radius: 50%;
  border: 3px solid white;
}

.image {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
